# Digits sum

Let's train a neural network that learns to sum numbers (up to 3 digits, let's say)

In [1]:
%matplotlib inline

In [2]:
import numpy as np

def generate_number(n, padding=1):
    x = int(np.random.uniform(0, 10**n-1))
    num = str(x)
    ret = '0'* (padding + n - len(num)) + num
    return ret

def get_digits(n):
    return [int(i) for i in str(n)]

X = [[0, 0, 0, 0, 0, 0, 0, 0]] 
y = [0]

for i in range(100000):
    a, b = generate_number(3), generate_number(3)
    
    X.append(get_digits(a) + get_digits(b))
    y.append(int(a) + int(b))

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd
X = np.array(X)
y = np.array(y)

X_train, X_test, y_train, y_test = train_test_split(X, y)

print(X_train.shape, X_test.shape)

pd.DataFrame(X, y).iloc[0:10]

(75000, 8) (25001, 8)

      0  1  2  3  4  5  6  7
0     0  0  0  0  0  0  0  0
222   0  2  2  0  0  0  0  2
1423  0  9  7  7  0  4  4  6
1472  0  5  0  5  0  9  6  7
714   0  7  0  1  0  0  1  3
1172  0  4  8  8  0  6  8  4
1248  0  2  9  5  0  9  5  3
1620  0  6  5  7  0  9  6  3
1687  0  7  5  2  0  9  3  5
893   0  2  6  3  0  6  3  0

## MLP model

In [4]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import metrics
model = Sequential()
model.add(Dense(32, input_dim=8))
model.add(Dense(1))

model.compile(loss='mse', optimizer="rmsprop", metrics=[metrics.mse])

Using TensorFlow backend.
/home/marat/.pyenv/versions/3.6.0/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [5]:
model.fit(X_train, y_train, epochs=20, validation_split=0.1)

Train on 67500 samples, validate on 7500 samples
Epoch 1/20
67500/67500 [==============================] - 4s 59us/step - loss: 301435.7603 - mean_squared_error: 301435.7603 - val_loss: 595.0022 - val_mean_squared_error: 595.0022
Epoch 2/20
67500/67500 [==============================] - 4s 63us/step - loss: 18.9256 - mean_squared_error: 18.9256 - val_loss: 0.3239 - val_mean_squared_error: 0.3239
Epoch 3/20
67500/67500 [==============================] - 4s 59us/step - loss: 1.1023 - mean_squared_error: 1.1023 - val_loss: 1.9332 - val_mean_squared_error: 1.9332
Epoch 4/20
67500/67500 [==============================] - 3s 51us/step - loss: 1.1038 - mean_squared_error: 1.1038 - val_loss: 0.0631 - val_mean_squared_error: 0.0631
Epoch 5/20
67500/67500 [==============================] - 3s 51us/step - loss: 1.0999 - mean_squared_error: 1.0999 - val_loss: 0.3598 - val_mean_squared_error: 0.3598
Epoch 6/20
67500/67500 [==============================] - 4s 55us/step - loss: 1.0997 - mean_squared_error: 1.0997 - val_loss: 1.6023 - val_mean_squared_error: 1.6023
Epoch 7/20
67500/67500 [==============================] - 3s 47us/step - loss: 1.1036 - mean_squared_error: 1.1036 - val_loss: 1.2161 - val_mean_squared_error: 1.2161
Epoch 8/20
67500/67500 [==============================] - 4s 58us/step - loss: 1.1037 - mean_squared_error: 1.1037 - val_loss: 0.3806 - val_mean_squared_error: 0.3806
Epoch 9/20
67500/67500 [==============================] - 4s 63us/step - loss: 1.1037 - mean_squared_error: 1.1037 - val_loss: 1.7904 - val_mean_squared_error: 1.7904
Epoch 10/20
67500/67500 [==============================] - 4s 63us/step - loss: 1.1028 - mean_squared_error: 1.1028 - val_loss: 0.4778 - val_mean_squared_error: 0.4778
Epoch 11/20
67500/67500 [==============================] - 3s 50us/step - loss: 1.1030 - mean_squared_error: 1.1030 - val_loss: 1.1274 - val_mean_squared_error: 1.1274
Epoch 12/20
67500/67500 [==============================] - 3s 51us/step - loss: 1.0961 - mean_squared_error: 1.0961 - val_loss: 3.1045 - val_mean_squared_error: 3.1045
Epoch 13/20
67500/67500 [==============================] - 3s 51us/step - loss: 1.1041 - mean_squared_error: 1.1041 - val_loss: 1.5457 - val_mean_squared_error: 1.5457
Epoch 14/20
67500/67500 [==============================] - 3s 49us/step - loss: 1.0998 - mean_squared_error: 1.0998 - val_loss: 3.2725 - val_mean_squared_error: 3.2725
Epoch 15/20
67500/67500 [==============================] - 3s 48us/step - loss: 1.1018 - mean_squared_error: 1.1018 - val_loss: 0.8198 - val_mean_squared_error: 0.8198
Epoch 16/20
67500/67500 [==============================] - 3s 47us/step - loss: 1.1004 - mean_squared_error: 1.1004 - val_loss: 1.8264 - val_mean_squared_error: 1.8264
Epoch 17/20
67500/67500 [==============================] - 3s 46us/step - loss: 1.1002 - mean_squared_error: 1.1002 - val_loss: 0.2501 - val_mean_squared_error: 0.2501
Epoch 18/20
67500/67500 [==============================] - 3s 47us/step - loss: 1.1008 - mean_squared_error: 1.1008 - val_loss: 0.2909 - val_mean_squared_error: 0.2909
Epoch 19/20
67500/67500 [==============================] - 3s 47us/step - loss: 1.0997 - mean_squared_error: 1.0997 - val_loss: 1.4291 - val_mean_squared_error: 1.4291
Epoch 20/20
67500/67500 [==============================] - 3s 46us/step - loss: 1.1005 - mean_squared_error: 1.1005 - val_loss: 1.5986 - val_mean_squared_error: 1.5986

In [6]:
model.evaluate(X_test, y_test)

25001/25001 [==============================] - 1s 27us/step

[1.5881214856929786, 1.5881214856929786]

In [7]:
for row in X_test[:10]:
    a, b = row[:4], row[4:]
    
    a_str = "".join(a.astype("str"))
    b_str = "".join(b.astype("str"))
    
    res = model.predict(row.reshape(1, -1))[0][0]
    
    expected = int(a_str) + int(b_str)
    
    print("{} + {} = {:.2f} (expected = {}, error = {:.2f})".format(a_str, b_str, res, expected, res - expected))

0674 + 0592 = 1264.54 (expected = 1266, error = -1.46)
0527 + 0262 = 787.99 (expected = 789, error = -1.01)
0302 + 0609 = 909.86 (expected = 911, error = -1.14)
0700 + 0912 = 1610.72 (expected = 1612, error = -1.28)
0772 + 0278 = 1048.48 (expected = 1050, error = -1.52)
0028 + 0685 = 711.80 (expected = 713, error = -1.20)
0234 + 0001 = 234.68 (expected = 235, error = -0.32)
0264 + 0105 = 368.35 (expected = 369, error = -0.65)
0411 + 0963 = 1372.63 (expected = 1374, error = -1.37)
0124 + 0352 = 475.28 (expected = 476, error = -0.72)